@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-text {
    background: linear-gradient(#6dd5fa, #a17fe0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }